@import "../Global.scss";

* {
    -webkit-font-smoothing: antialiased;
}

.review-form-container {
    #root__title {
        display: none;
    }
    .treehacks-form {
        margin-top: 20px;
        margin-left: 0px;
        margin-right: 0px;
        label.control-label {
            display: block;

            &[for^="root_section"] {
                display: none;
            }
        }

        .form-control {
            color: $text-color !important;
        }

        .field-string:nth-child(6), .field-string:nth-child(7),
        .field-undefined:nth-child(8), .field-string:nth-child(9),
        .field-integer:nth-child(10), .field-integer:nth-child(11) {
            display: inline-block;
            width: calc(33% - 0.5rem);
            margin-right: 0.9rem;
            margin-left: 0 !important;
        }

        .field-undefined:nth-child(8), .field-integer:nth-child(11) {
            margin-right: 0;
        }
    }
}

.treehacks-form.rate-form {
    #root__title {
        padding-top: 20px;
        margin-bottom: 20px;
    }
    .form-group.field.field-boolean+.form-group.field.field-boolean {
        margin-top: -1em;
    }

    .checkbox {
        label {
            display: flex;
            padding-bottom: 0.5rem;
            cursor: pointer;
        }

        input {
            min-width: 16px;
            margin-top: 5px;
            cursor: pointer;
            transition-duration: 0.01s;
        }
    }
}

.treehacks-body-text {
    color: $primary-color;
}

.left-sidebar-content {
    width: 84%;
    margin: 0 auto;
}

.apps-remaining-countdown {
    text-align: center;
    padding-bottom: 5px;
}

@media only screen and (min-width:768px) {
    .treehacks-review-form {
        position: fixed;
        max-height: 100vh;
        overflow: auto;
    }
}

/* judge */

.review-form-container {
    .array-item-remove,
    .btn-add {
        display: none;
    }
}

.treehacks-judge-hack-info {
    font-size: 20px;
}