* {
    -webkit-font-smoothing: antialiased;
}

.review-form-container {
    #root__title {
        display: none;
    }
    .treehacks-form {
        margin-left: 0px;
        margin-right: 0px;
        label.control-label {
            display: block;
        }
    }
}

.rate-form {
    .form-group.field.field-boolean + .form-group.field.field-boolean {
        margin-top: -1em;
    }
} 

.treehacks-body-text {
    color: #09da7a;
}

.left-sidebar-content {
    width: 84%;
    margin: 0 auto;
}

.apps-remaining-countdown {
    text-align: center;
    padding-bottom: 5px;
}