* {
	-webkit-font-smoothing: antialiased;
}

#left-container {
	width:24%;
	float:left;
	padding-right:1%;
}

#right-container {
	width:72%;
	padding-right:3%;
	float:right;
}

@media only screen and (max-width: 550px) {
	#left-container {
		width:100%!important;
		padding-right:0%!important;
	}
	#right-container {
		width:80%!important;
		margin:0px auto!important;
		display:block!important;
		padding-right:0%!important;
		float:none!important;
	}
	#leaderboard-container {
		display:none!important;
	}
}

#score-container {
	width:80%;
	display:block;
	margin:0px auto;
	background-color:white;
	height:auto;
	margin-top:30px;
	border:3px solid #e3e3e3;
	padding-top:25px;
	border-radius:15px;
}

#leaderboard-container {
	width:80%;
	display:block;
	margin:0px auto;
	background-color:white;
	height:auto;
	margin-top:30px;
	border:3px solid #e3e3e3;
	padding-top:20px;
	border-radius:15px;
	padding-bottom:20px;
}

.bold-number {
	font-weight:heavy;
}

#stats-container {
	width:80%;
	display:block;
	margin:0px auto;
	background-color:white;
	height:auto;
	margin-top:30px;
	border:3px solid #e3e3e3;
	padding-top:15px;
	border-radius:15px;
	padding-bottom:15px;
}

#application-container {
	width:calc(100% - 50px);
	display:block;
	margin:0px auto;
	background-color:white;
	height:auto;
	margin-top:30px;
	border:3px solid #e3e3e3;
	float:right;
	margin-bottom:60px;
	border-radius:15px;
	padding-left:50px;
	padding-top:40px;
	padding-bottom:30px;
}

.field-container {
	width:80%;
	display:block;
	margin:0px auto;
	padding-bottom:50px;
}

.leaderboard-person-container {
	width:80%;
	display:block;
	margin:0px auto;
	height:30px;
	margin-top:5px;
}

.leaderboard-name {
	float:left;
	font-weight:bold;
	font-size:20px;
}

.stats-number {
	font-weight:medium;
	font-size:20px;
	text-align:center;
}

.leaderboard-reads {
	float:right;
	margin-top:3px;
	font-weight:medium;
}

.field-container select {
	float:right;
	width:40px;
	height:25px;
	margin-top:2px;
	font-size:18px;
	padding-left:5px;
}

.field-container input {
	float:right;
	width:20px;
	height:20px;
}

.application-question-container embed {
	margin-top:20px;
}

.field-prompt {
	float:left;
	font-size:20px;
	font-weight:bold;
}

.application-name {
	font-weight:bold;
	font-size:26px;
	color:#333333;
}

.application-school {
	font-weight:regular;
	color:#666666;
	margin-top:5px;
}

.application-question {
	font-weight:bold;
	font-size:20px;
	margin-bottom:5px;
	margin-top:30px;
	color:#999999;
}

.application-answer {
	font-size:20px;
	margin-bottom:20px;
	font-weight:regular;
	color:#333333;
	width:95%;
}

#application-id {
	display:none;
}

#submit-button {
	display:block;
	margin:0px auto;
	width:80%;
	height:30px;
	background-color:#27ae60;
	border-radius:15px;
	color:white;
	font-weight:bold;
	text-align:center;
	padding-top:10px;
	cursor:pointer;
	margin-bottom:25px;
}

#submit-button:hover {
	background-color:#2ecc71;
}