.dashboard {
    width: 100%;
    height: calc(100vh - 80px);
    background-repeat: no-repeat;
    background-size: 100% 100%;

	.dashboard-design {
		color: white;
        text-align: center;
        background-color: #686e77;
        width: 100%;
        max-width: 500px;
        min-width: 300px;
        padding: 20px;
	}
}

@media only screen and (max-width: 1024px) {
    .dashboard {
        background-size: 200vh;
    }
}

/*.dashboard-body {
    background-image: url(/art/circuit_left.svg), url(/art/circuit_bottom.svg);
    background-position: left top, right bottom;
    background-repeat: no-repeat, no-repeat;
    height: 100%;
}*/
