@import "../Global.scss";
.dashboard {
    width: 100%;
    height: calc(100vh - 80px);
    background-repeat: no-repeat;
    background-size: 100% 100%;

    .treehacks-dashboard-message-container {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
        max-height: calc(100vh - 200px);
    }

    .days-left {
        color: $primary-color;
        font-size: 70px;
        margin-bottom: -15px;
    }

	.dashboard-design {
		color: $text-color;
        text-align: center;
        background-color: $background-color;
        width: 100%;
        max-width: 500px;
        min-width: 300px;
        padding: 20px;
        border-radius: 5px;
        border: 2px solid $primary-color;
        transition: 0.2s;

        & + .dashboard-design {
            margin-top: 20px;
        }

        &.notice {
            padding: 1rem 1rem 0.8rem;
            margin-top: 5rem;

            a {
                color: $primary-color;
            }
        }

        &:hover {
            transform: scale(1.02);
        }
	}

    .admitted-content {
        padding-top: 1rem;

        .btn {
            margin-bottom: 1rem;
        }

        a {
            color: $primary-color;
        }
    }
}

@media only screen and (max-width: 1024px) {
    .dashboard {
        background-size: 200vh;
    }
}

/*.dashboard-body {
    background-image: url(/art/circuit_left.svg), url(/art/circuit_bottom.svg);
    background-position: left top, right bottom;
    background-repeat: no-repeat, no-repeat;
    height: 100%;
}*/
