.dashboard {

	background-color: #686e77;
    margin-left: 35%;
    width: 30%;
    padding-top: 35px;
    margin-top: 120px;
    padding-bottom: 35px;
    position: absolute;

	.dashboard-design {
		color: white;
		text-align: center;
	}
}

/*.dashboard-body {
    background-image: url(/art/circuit_left.svg), url(/art/circuit_bottom.svg);
    background-position: left top, right bottom;
    background-repeat: no-repeat, no-repeat;
    height: 100%;
}*/