.nav {
	padding-top: 10px;
    padding-bottom: 10px;
	background-color: rgb(83, 81, 82);
	border-bottom: 3px solid #696E76;
    text-align: center;
    height: 68px;
		display: flex;
		flex-direction: row;
	align-items: center;
		a {
			color: white;
			margin-right: 35px;
			text-decoration: none;
		}

		a:hover {
			color: #00e765;
		}
    
    .header-logo {
			display: inline;
			margin-right: auto;
    }
}