@import "../Global.scss";

.nav {
  background-color: $box-color;

  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;

  position: fixed;
  top: 0;
  z-index: 101;

  height: 80px;
  width: 100vw;

  box-shadow: 0 5px 30px -5px rgba(0,0,0,0.2);

  a {
    color: $secondary-text-color;
    margin: 0 $navbar-margin;
    padding: $navbar-padding 0;
    font-size: $navbar-font-size;
    transition: 0.2s;
    cursor: pointer;

    &:hover, &.active {
      color: $primary-color;
      text-decoration: none;
    }
  }

  a.logout {
    color: $secondary-color;
    &:hover {
      color: $secondary-color;
    }
  }

  .header-logo {
    margin-top: -0.5vh;
    margin-right: $navbar-margin * 25;
    padding: 0 $navbar-padding 0 $navbar-padding;
    text-align: left;

    img {
      padding-right: $navbar-padding;
    }

    a {
      font-size: 36px;
    }

    .logo-text-tree {
    }

    .logo-text-hacks {
      font-weight: bold;
    }
  }
}


@media only screen and (max-width: 1024px) {
  .nav {
    padding: 10px 0;
  }
  .header-logo {
    display: none;
  }
}
