$dark-gray: #535152;
$light-gray: #696E76;
$green: #00E174;
$white: #FFFFFF;

$navbar-font-size: 16px * 1.18;
$navbar-margin: 1.25vw;
$navbar-padding: 8px;

.nav {
  background-color: $dark-gray;
  height: 80px;
  width: 100vw;
  padding: 0 2vw;
  border-bottom: 3px solid $light-gray;

  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;

  a, .logoutText {
    color: $white;
    margin: 0 $navbar-margin;
    padding: $navbar-padding 0;
    font-size: $navbar-font-size;
    border-bottom: 2px solid $dark-gray;
    transition: 0.5s;

    &:hover {
      border-bottom: 2px solid $green;
      text-decoration: none;
    }
  }

  .header-logo {
    flex: 1;
    text-align: left;
    margin-left: -10px;

    a {
      border-bottom: 0px;
      margin: 0;
      font-size: 36px;
    }

    .logo-text-tree {
      font-family: 'Avenir';
    }

    .logo-text-hacks {
      font-family: 'Avenir Heavy';
    }
  }

  button {
    flex: 1;
    margin: 0 !important;
    background-color: transparent;
    border: 0;
    text-align: right;

    .logoutText {
      display: inline-block;
      padding: $navbar-padding/2 0;

      &:hover {
        cursor: pointer;
      }
    }
  }
}
