@import "../Global.scss";

.nav {
  background-color: $background-color;

  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;

  position: fixed;
  top: 0;
  z-index: 101;

  background-color: $background-color;
  height: 80px;
  width: 100vw;

  box-shadow: 0 5px 30px -5px rgba(0,0,0,0.2);


  .treehacks-navbar-links {
    margin-top: 10px;
  }

  a {
    color: $text-color;
    margin: 0 $navbar-margin;
    padding: $navbar-padding 0;
    font-size: $navbar-font-size;
    border-bottom: 2px solid $background-color;
    transition: 0.2s;
    cursor: pointer;

    &:hover, &.active {
      color: $primary-color;
      text-decoration: none;
    }
  }

  a.logout {
    color: $secondary-color;
    &:hover {
      color: $secondary-color;
    }
  }

  .header-logo {
    flex: 1;
    text-align: left;
    margin-left: -10px;

    a {
      border-bottom: 0px;
      margin: 0;
      font-size: 36px;
    }

    .logo-text-tree {
      font-family: $base-font-family;
    }

    .logo-text-hacks {
      font-family: 'Avenir Heavy';
    }
  }
}


@media only screen and (max-width: 1024px) {
  .nav {
    flex-flow: column;
    height: auto;
    padding: 10px 0;
  }
}
