.treehacks-login {
  max-width: 500px;
  margin: auto;
}
.login-btn-style{
	margin-left: 50px;
    margin-top: 20px;
}
.left-btn{
	margin-left:40px;
}
.h3-style{
	margin-top: 10px;
	color: white;
	margin-bottom: 20px;
	text-align: center;
}
.btn-custom{
    background-color: #00b65f;
    border-color: #00b65f!important;
    color: white;
    width: 41%;
    margin-bottom: 20px;
    
    font-size: 20px!important;
}
.btn-standford{
  background-color: #00b65f;
    border-color: #00b65f!important;
    color: white;
    width: 89%;
    margin-bottom: 20px;

    font-size: 20px!important;
}

