.treehacks-login {
  max-width: 500px;
  margin: auto;
}
.login-btn-style{
	margin-left: 50px;
    margin-top: 20px;
}
.left-btn{
	margin-left:50px;
}
.h3-style{
	margin-top: 10px;
	color: white;
	margin-bottom: 20px;
	text-align: center;
}
.btn-custom{
    background-color: #00b65f;
    border-color: #00b65f!important;
    color: white;
    width: 41%;
    margin-bottom: 20px;

    font-size: 20px!important;
}
.btn-stanford{
  background-color: #00b65f;
    border-color: #00b65f!important;
    color: white;
    width: 89%;
    margin-bottom: 20px;

    font-size: 20px!important;
}

.label-text {
    text-align: center;
    margin-top: 30px;
    margin-bottom: -10px;
    color: #fff;

    &.centered {
        margin-top: 0;
    }
}

.btn-subtle {
    border: none !important;
    background: transparent;
    color: #00b65f;
    font-size: initial !important;
}

.treehacks-form .btn {
    margin-top: -0.75rem;
}
