@import "../Global.scss";
.treehacks-login {
  max-width: 500px;
  margin: auto;
}
.login-btn-style{
    margin: auto;
    margin-top: 10px;
    padding: 10px;
    width: 84%;

    .btn {
        width: 100%;
    }
}
.treehacks-form .login-btn-style {
    width: 100%;
}
.form-link, .form-link:hover {
    color: $primary-color;
}
.left-btn{
	margin-left:50px;
}
.h3-style{
    font-size: 50px;
	margin-top: 10px;
	color: $text-color;
	margin-bottom: 20px;
	text-align: center;
}
.btn-custom{
    background-color: $primary-color;
    border-color: $primary-color!important;
    color: $primary-btn-text-color;
    width: 41%;
    margin-bottom: 20px;

    font-size: 20px!important;
}
.btn-stanford{
  background-color: $primary-color;
    border-color: $primary-color!important;
    color: $primary-btn-text-color;
    width: 89%;
    margin-bottom: 20px;

    font-size: 20px!important;
}

.label-text {
    text-align: center;
    margin-top: 30px;
    margin-bottom: -10px;
    color: $text-color;

    &.centered {
        margin-top: 0;
    }
}

.btn-subtle {
    border: none !important;
    background: transparent;
    color: $primary-color;
    font-size: initial !important;
}

.treehacks-form .btn {
    margin-top: -0.75rem;
}
.alert {
    margin-top: 1rem;
}
