@import "../Global.scss";
.treehacks-login {
    width: 500px;
    max-width: 90%;
    margin: auto;
}
.login-container {
  min-height: 100vh;
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.login-btn-style{
    margin: auto;
    margin-top: 10px;
    padding: 10px 20px;
    width: 84%;

    .btn {
        width: 100%;
    }
}
.treehacks-form .login-btn-style {
    width: 100%;
}

.login-form {
    padding-bottom: 10px !important;
}

.form-link, .form-link:hover {
    color: $primary-color;
}
.left-btn{
    margin-left:50px;
    padding: 0px 10px;
}
.h3-style{
    font-size: 50px;
    margin-top: 10px;
    color: $primary-color;
    margin-bottom: 20px;
    text-align: center;
}
.wordmark:hover{
    text-decoration: none;
}
.btn-custom{
    background-color: $primary-color;
    border-color: $primary-color!important;
    color: $primary-btn-text-color;
    width: 41%;
    margin-bottom: 20px;

    font-size: 20px!important;
}
.btn-stanford{
    background-color: $box-color!important;
    border-color: $primary-color!important;
    color: $secondary-text-color!important;
    width: 89%;
    margin-bottom: 20px;

    font-size: 20px!important;
}

.label-text {
    text-align: center;
    margin-top: 30px;
    margin-bottom: -10px;
    color: $text-color;

    &.centered {
        margin-top: 0;
    }
}

.btn-subtle {
    border: none !important;
    background: transparent !important;
    color: $text-color!important;
    font-size: initial !important;
}

.treehacks-form .btn {
    margin-top: -0.75rem;
}
.alert {
    margin-top: 1rem;
}
.btn-back {
    width: 100% !important;
}
.back-container {
    margin: auto;
    width: 84%;
    padding: 10px 20px;
    align-self: center;
}