@import "default.scss";
// Proxima Nova font
@import url("https://use.typekit.net/vam8uoe.css");

/* Color Palette */
$background-color: white;
$background-color-light-border: #eeeeee;

$primary-color: #E51B5D;
$secondary-color: #F46E20;
$tertiary-color: #A7DDE8;
$text-color: black;

$primary-btn-text-color: white;

/* Font Styles */

$base-font-family: proxima-nova, sans-serif;