@import "default.scss";
// Proxima Nova font
@import url("https://use.typekit.net/vam8uoe.css");

/* Color Palette */
$background-color: hsl(339, 77%, 99%);
$background-color-light-border: #eeeeee;

$primary-color: #E51B5D;
$secondary-color: #F46E20;
$tertiary-color: #A7DDE8;
$text-color: #696E76;
$secondary-text-color: #535152;

$primary-btn-text-color: white;

$font-size: 18px;

/* Font Styles */
$base-font-family: proxima-nova, sans-serif;
