/* Color Palette */
$background-color: #FFFFFF;
$background-color-light-border: #DCDCDC;

$primary-color: #888888;
$secondary-color: #888888;
$tertiary-color: #888888;
$box-color: #FFFFFF;

$text-color: #000000;
$secondary-text-color: #000000;
$primary-btn-text-color: #FFFFFF;

$text-gray: #ADADAD;

$navbar-font-size: 16px * 1.18;
$navbar-margin: 1.25vw;
$navbar-padding: 15px;

$font-size: 18px;
$base-font-family: 'Avenir', sans-serif;
