/* Color Palette */
$background-color: #535152;
$background-color-light-border: #696E76;
$primary-color: #00E174;
$secondary-color: #00E174;
$tertiary-color: #00E174;
$box-color: #fff;

$text-color: #FFFFFF;
$primary-btn-text-color: white;

$text-gray: #ADADAD;

$navbar-font-size: 16px * 1.18;
$navbar-margin: 1.25vw;
$navbar-padding: 15px;

$base-font-family: 'Avenir', sans-serif;
