@import "default.scss";
// Proxima Nova font
@import url("https://use.typekit.net/vam8uoe.css");

$background-color: hsl(339, 77%, 99%);
$background-color-light-border: #eeeeee;

$primary-color-light: #D3FFDB;
$primary-color-main: #21CE99;
$primary-color: #0D9071;
$primary-color-dark: #1C413A;
$secondary-color: #E83028;
$tertiary-color: #FF730E;

$text-color: #696E76;
$secondary-text-color: #535152;
$primary-btn-text-color: #FFFFFF;

$font-size: 18px;
$base-font-family: proxima-nova, sans-serif;