@import "default.scss";
// Proxima Nova font
@import url("https://use.typekit.net/vam8uoe.css");

$background-color: hsl(339, 77%, 99%);
$background-color-light-border: #eeeeee;

$primary-color: #016038;
$secondary-color: #84C87F;
$tertiary-color: #039153;

$text-color: #696e76;
$secondary-text-color: #535152;
$primary-btn-text-color: #ffffff;

$font-size: 18px;
$base-font-family: proxima-nova, sans-serif;
