.rjsf {
    padding: 10px;
    width: 80%;
    max-width: 800px;
    margin: auto;
    .checkbox input {
        margin-right: 10px;
    }
    label.control-label {
        font-weight: bold;
    }
    .treehacks-hidden {
        display: none;
    }
}
