@import '../Global';
.treehacks-application-view-modal {
    background: $dark-gray;
    .treehacks-form {
        margin-top: 0;
        padding-top: 0;
        label.control-label {
            display: block;
        }
    }
}