@import './Global';
@import './Fonts';

/* Make sure that page elements aren't hidden by the navbar */
$navbar-space: 80px;

body {
  background-color: $background-color;
  font-family: $base-font-family;
  min-height: calc(100vh - $navbar-space);
  font-size: $font-size;
  font-weight: normal;

  #page-elems {
    margin-top: $navbar-space;
  }
}

.btn-now, .btn-clear {
    display: none;
}

.treehacks-alert {
  background-color: $box-color;
  width: 100%;
  max-width: 750px;
  margin: 60px;
  padding: 40px 20px;
  color: $text-color;
  text-align: center;
  border-radius: 5px;
  border: 2px solid $primary-color;
}

.login-container {
  min-height: 100vh;
  flex: true;
  display: flex;
  align-items: center;
  flex-direction: column;
}
