@import './Global';
@import './Fonts';

body {
  background-color: $background-color;
  font-family: $base-font-family;
  min-height: 100vh;
  font-size: $font-size;
  font-weight: normal;

  #page-elems {
    margin-top: 80px;
  }
}

.btn-now, .btn-clear {
    display: none;
}

.treehacks-alert {
  background-color: $background-color;
  width: 100%;
  max-width: 750px;
  margin: 60px;
  padding: 40px 20px;
  color: $text-color;
  text-align: center;
  border-radius: 5px;
  border: 2px solid $primary-color;
}
