/* Font Styles */
@font-face {
  font-family: "Avenir";
  src: url('fonts/AvenirLTStd-Roman.otf');
}

@font-face {
  font-family: "Avenir Heavy";
  src: url('fonts/AvenirLTStd-Heavy.otf');
}

@font-face {
  font-family: "Avenir Black";
  src: url('fonts/AvenirLTStd-Black.otf');
}