/* Color Palette */
$dark-gray: #535152;
$light-gray: #696E76;
$green: #00E174;
$white: #FFFFFF;

$box-gray: #808080;
$text-gray: #ADADAD;

$avenir: 'Avenir', sans-serif;
$avenir-heavy: 'Avenir Heavy', sans-serif;
