/* Color Palette */
$dark-gray: #535152;
$light-gray: #696E76;
$green: #00E174;
$white: #FFFFFF;

$box-gray: #808080;
$text-gray: #ADADAD;

/* Font Styles */
@font-face {
  font-family: "Avenir";
  src: url('fonts/AvenirLTStd-Roman.otf');
}

@font-face {
  font-family: "Avenir Heavy";
  src: url('fonts/AvenirLTStd-Heavy.otf');
}

@font-face {
  font-family: "Avenir Black";
  src: url('fonts/AvenirLTStd-Black.otf');
}

$avenir: 'Avenir', sans-serif;
$avenir-heavy: 'Avenir Heavy', sans-serif;
