@import "../Global.scss";
.deadlines-widget {
  text-align: center;
  line-height: 1.5;
  color: $text-color;

  span {
    font-weight: bold;
  }

  .past {
    text-decoration: line-through;
    font-style: italic;
  }
}
